.head{
    height: 74px;
    width:100%;
    background-color:rgba(224, 116, 15, 0.774)
}
.logo{
    height: 3px;
    width: 3px;
    float: left;
    border: px solid rgba(224, 116, 15, 0.774);;
    border-radius: 80%;
    margin-top: 10px;
    margin-left: 20px;
}
.tagline{
    text-align: left;
    padding: 15px;
    margin-left: 68px;
    color:black;
}
.login{
    float: right;
    color: black;
    margin-right: 15px;
}
.categories{
    margin-bottom: 10px;
    height: 64px;
    font-size: 20px;
    color: black;
    margin-top: 15px;
    background-color: rgba(224, 116, 15, 0.774);
    text-align: center;
}
.categories ul {
    display: inline-flex;
    list-style: none;
    color: black;
}
.categories ul li{
    z-index: 3;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
}
.categories ul li a{
    color:black;
    text-decoration: none;
}
.categories :active,.categories ul li:hover{
    background-color: rgba(224, 116, 15, 0.774);
    border-radius: 10px;
}
.menu{
    display: none;
}
.categories ul li:hover .menu{
    display: block;
    position: absolute;
    background-color: rgba(224, 116, 15, 0.774);
    margin-top: 15px;
    margin-left: -15px;
}
.categories ul li:hover .menu ul{
    display: block;
    margin: 10px;
    text-align: left;
}
.menu2{
    display: none;
}
.categories ul li:hover .menu2{
    display: block;
    position: absolute;
    background-color: rgba(224, 116, 15, 0.774);
    margin-top: 15px;
    margin-left: -15px;
}
.categories ul li:hover .menu2 ul{
    display: block;
    margin: 10px;
    text-align: left;
}


 .div1{
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
    margin-left: 60px;
    float: left;
    height: 50%;
    border: none;
    width: 45%;
    position: absolute;
    border-radius: 13px;
    box-shadow: 10px 10px  rgba(240, 185, 7, 0.4);
}
.div2{
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    margin: 40px;
    float: right;
    height: 470%;
    width: 45%;
    color:rgb(221, 159, 15);
    float: right;
    
} 
.div3{
    font-family: inherit;
    text-align: center;
    font-size: 40px;
    height: 65px;
    width: 100%;
    color: black;
    float: right;
    border: 2px solid rgb(221, 159, 15);
    background-color: rgb(224, 116, 15, 0.774);
}
.div4{
    
    height: 120px;
    width: 230px;
    margin: 20px;
    padding: 40px;
    margin-left: 255px;
    float: left;
    background-image: url(12.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 13px;
    
}
.div5{
   
    height: 120px;
    width: 230px;
    margin: 20px;
    background-image: url(13.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px;
    float: left;
    border-radius: 13px;
}
.div6{
    
    height: 120px;
    width: 230px;
    margin: 20px;
    padding: 40px;
    float: left;
    background-image: url(14.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 13px;
}
.div7{
    text-align: center;
    border:  3px solid rgb(224, 116, 15);
    height: 330px;
    width: 230px;
    margin: 20px;
    padding: 40px;
    margin-bottom: 50px;
    margin-left: 255px;
    float: left;
    background-color: rgba(224, 116, 15, 0.774);
    border-radius: 13px;
    box-shadow: 10px 10px  rgba(240, 185, 7, 0.5);
}
.div8{
    text-align: center;
    border:  3px solid rgb(224, 116, 15);
    height: 330px;
    width: 230px;
    margin: 20px;
    padding: 40px;
    float: left;
    margin-bottom: 50px;
    background-color: rgba(224, 116, 15, 0.774);
    border-radius: 13px;
    box-shadow: 10px 10px  rgba(240, 185, 7, 0.5);
}
.div9{
    text-align: center;
    border:  3px solid rgb(224, 116, 15);
    height: 330px;
    width: 230px;
    margin: 20px;
    padding: 40px;
    float: left;
    margin-bottom: 50px;
    background-color: rgba(224, 116, 15, 0.774);
    border-radius: 13px;
    box-shadow: 10px 10px  rgba(240, 185, 7, 0.5);
}
.footer{
    float: right;
    font-size: 20px;

}
