.div31{
    font-size: 30px;
    margin: 40px;
    margin-left: 50px;
    height: 50%;
    width: 45%;
    color: black;
    background-color:rgba(224, 116, 15, 0.774);
    border-radius: 13px;
    box-shadow: 10px 10px  rgba(240, 185, 7, 0.4);
    position: absolute;
    text-align: center;
}

.div32{
    background-image: url(trdownload\ \(1\).jfif);
    border-radius: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 346px;
    width: 45%;
    margin: 40px;  
    float: right;
    text-align: center;border: 2px solid rgba(224, 116, 15, 0.774) ;
}
.div33{
        text-align: left;
        font-size: 20px;
        margin: 40px;
        margin-left: 500px;
        float: left;
        height: 470%;
        width: 45%;
} 
